<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Novo Cliente</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card widget-flat">
        <div class="card-body">
          <form novalidate (ngSubmit)="adicionarCliente()" [formGroup]="cadastroForm" class="row g-3 align-items-center">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="login" class="form-control" id="fantasia" formControlName='fantasia'/>
                <label for="floatingInput">Fantasia</label>
              </div>
            </div>

            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="login" class="form-control" id="razao" formControlName='razao'/>
                <label for="floatingInput">Razão Social</label>
              </div>
            </div>

            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="login" class="form-control" id="cnpj" formControlName='cnpj'/>
                <label for="floatingInput">CNPJ</label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-success" id="registrar">Registar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
