<a href="index.html" class="logo text-center logo-light">
    <img src="assets/images/logo.png" alt="" height="45">
</a>

<div class="leftside-menu-container h-100">

  <div class="simplebar-wrapper" style="margin: 0px;">
    <div class="simplebar-mask">
      <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
          <div class="simplebar-content" style="padding: 0px;">

            <ul class="side-nav">
              <li class="side-nav-item">
                <a [routerLink]="'/home'" class="side-nav-link">
                  <i class="fa-solid fa-house"></i>
                  <span> Home </span>
                </a>
              </li>
              <li class="side-nav-item">
                <a [routerLink]="'/sobre-nos'" class="side-nav-link">
                  <i class="fa-solid fa-house"></i>
                  <span> Sobre nós </span>
                </a>
              </li>
              <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarClientes" aria-expanded="false"
                  aria-controls="sidebarClientes" class="side-nav-link collapsed">
                  <i class="fa-solid fa-users"></i>
                  <span> Clientes </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarClientes">
                  <ul class="side-nav-second-level">
                    <li>
                      <a href="#">Novo cliente</a>
                    </li>
                    <li>
                      <a href="#">Ver cadastro</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                  <i class="fa-solid fa-headset"></i>
                  <span> Operacional </span>
                </a>
              </li>
              <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                  <i class="fa-solid fa-briefcase"></i>
                  <span> Comercial </span>
                </a>
              </li>
              <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                  <i class="fa-solid fa-ranking-star"></i>
                  <span> Ranking </span>
                </a>
              </li>
              <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                  <i class="fa-solid fa-user-tie"></i>
                  <span> Área Administrativa </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
