
.side-nav ul {
  list-style-type: none;
}

.side-nav-second-level li a {
  color: var(--dark-menu-item);
}

.side-nav-second-level li a{
  padding: 8px 30px 8px 30px;
  color: var(--menu-item);
  display: block;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: .89rem;
}

.side-nav-second-level li a:focus,
.side-nav-second-level li a:hover {
  color: var(--dark-menu-item-hover);
}

.side-nav i.fa-solid.fa-angle-right {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s;
  position: absolute;
  right: 0px;
  display: inline-block;
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: .7rem;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.side-nav .side-nav-item>a[aria-expanded=true]>i.fa-solid.fa-angle-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.side-nav .side-nav-link span {
  vertical-align: middle;
}



