<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Ver Cliente</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="card widget-flat">
            <div class="card-body">
              <form class="row g-3 align-items-center">
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <input
                      type="login"
                      class="form-control"
                      id="login"
                      placeholder="89487"
                    />
                    <label for="floatingInput">Login sistema</label>
                  </div>
                </div>

                <div class="col-2">
                  <button type="submit" class="btn btn-primary">ver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-h-100">
            <div class="card-body">
              <form class="row g-3 align-items-center">
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <input
                      type="login"
                      class="form-control"
                      id="login"
                      placeholder="89487"
                    />
                    <label for="floatingInput">Login sistema</label>
                  </div>
                </div>

                <div class="col-2">
                  <button type="submit" class="btn btn-primary">ver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-h-100">
              <div class="card-body">
                <form class="row g-3 align-items-center">
                  <div class="col-10">
                    <div class="form-floating mb-3">
                      <input
                        type="login"
                        class="form-control"
                        id="login"
                        placeholder="89487"
                      />
                      <label for="floatingInput">Login sistema</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">ver</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
