<table class="table table-hover table-centered mb-0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome Fantasia</th>
      <th>Franquia</th>
      <th>Data Cadastro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="badge bg-primary">87972</span></td>
      <td>JotaVe Bar</td>
      <td>Curitiba</td>
      <td>26/08/2022</td>
    </tr>
    <tr>
      <td><span class="badge bg-primary">87545</span></td>
      <td>Loja Jv</td>
      <td>Manaus</td>
      <td>26/08/2022</td>
    </tr>
    <tr>
      <td><span class="badge bg-primary">87124</span></td>
      <td>Lojão do JotaVe</td>
      <td>Curitiba</td>
      <td>25/08/2022</td>
    </tr>
    <tr>
      <td><span class="badge bg-primary">87541</span></td>
      <td>Jota Store</td>
      <td>São Paulo</td>
      <td>25/08/2022</td>
    </tr>
  </tbody>
</table>
