:root {
  --bg-leftbar: #313a46;
  --menu-item: #8391a2;
  --menu-item-hover: #bccee4;
  --menu-item-active: #fff;

  --box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);

  --card-box-shadow: var(--box-shadow);
  --card-bg: #fff;
  --bg-topbar: #fff;

  --page-title-color: #6c757d;

  --dark-menu-item: #8391a2;
  --dark-menu-item-hover: #bccee4;

  --bg-leftbar-gradient: linear-gradient(135deg, #8f75da 0%, #727cf5 60%);
}

body {
  background: #EEF0F8;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3F4254;
}

.text-center {
  text-align: center !important;
}

a {
  text-decoration: none;
}

.text-muted {
  --text-opacity: 1;
  color: var(--text-muted) !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
}

.h5, h5 {
  font-size: .9375rem;
}

/*********************************************/

.wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/*****************************/
.leftside-menu {
  z-index: 10;
  background: var(--bg-leftbar);
  bottom: 0;
  position: fixed;
  top: 0;
  padding-top: 70px;
  box-shadow: var(--box-shadow);
}

body.off .leftside-menu {
  width: 260px;
}

body.on .leftside-menu {
  width: 70px;
}

/***************************/

body.off span.logo-lg {
  display: block;
}

body.off span.logo-sm {
  display: none;
}

body.on span.logo-lg {
  display: none;
}

body.on span.logo-sm {
  display: block !important;
  text-align: left !important;
  left: 15px;
  position: relative;
}

/******************************/

.content-page {
  overflow: hidden;
  padding: 70px 12px 65px;
  min-height: 100vh;
}

body.off .content-page {
  margin-left: 260px;
}

body.on .content-page {
  margin-left: 70px;
}

/*******************************/

body.off .navbar-custom {
  padding: 0 24px;
  background-color: var(--bg-topbar);
  box-shadow: var(--box-shadow);
  min-height: 70px;
  position: fixed;
  left: 260px;
  top: 0;
  right: 0;
  z-index: 1001;
}

body.on .navbar-custom {
  padding: 0 24px;
  background-color: var(--bg-topbar);
  box-shadow: var(--box-shadow);
  min-height: 70px;
  position: fixed;
  left: 70px;
  top: 0;
  right: 0;
  z-index: 1001;
}

/*******************************/
body.off li.side-nav-item span {
  display: inline-block;
}

body.on li.side-nav-item span {
  display: none;
}

/*******************************/
body.on .collapse.show .side-nav-second-level {
  display: block !important;
  left: 70px;
  position: fixed;
  width: 190px;
  background: var(--bg-leftbar);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

/*******************************/

.leftside-menu .logo {
  background: var(--bg-leftbar) !important;
}

.logo {
  display: block;
  line-height: 70px;
  width: 260px;
  position: fixed;
  top: 0;
}

.leftside-menu-container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
}

.simplebar-content:after, .simplebar-content:before {
  content: " ";
  display: table;
}

.tooltip {
  position: absolute;
  /* left: 70px !important; */
  top: 20px !important;
}

/******* Cards ********/

.widget-flat {
  position: relative;
  overflow: hidden;
}

.card {
  border: none;
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
  margin-bottom: 24px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--card-bg);
  background-clip: border-box;
  border: 1px solid var(--card-border-color);
  border-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--page-title-color);
}

.card .header-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-size: .9rem;
  margin-top: 0;
}

/********************************/

.header {
  padding: 0 24px;
  background-color: var(--bg-topbar);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  min-height: 70px;
  position: fixed;
  left: 260px;
  top: 0;
  right: 0;
  z-index: 1001;
}

body.off .footer {
  left: 260px;
}

body.on .footer {
  left: 70px;
}

.footer {
  border-top: 1px solid rgba(152, 166, 173, .2);
  bottom: 0;
  padding: 19px 24px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


/*******************/

.side-nav {
  padding-left: 0;
  list-style-type: none;
}

body.off .side-nav .side-nav-link {
  padding: 10px 30px;
}

body.on .side-nav .side-nav-link {
  padding:10px 23px;
}

.side-nav .side-nav-link {
  color: var(--menu-item);
}

.side-nav .side-nav-link {
  color: var(--menu-item);
  display: block;
  font-size: .9375rem;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  list-style: none;
}

.side-nav .side-nav-link:active,
.side-nav .side-nav-link:focus,
.side-nav .side-nav-link:hover {
  color: var(--menu-item-hover);
}

.side-nav .side-nav-link i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 0;
  font-size: 1.1rem;
  vertical-align: middle;
  width: 20px;
}

body.on .fa-solid.fa-angle-right {
  display: none !important;
}

.side-nav .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 30px;
  display: inline-block;
  font-family: "Material Design Icons";
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.side-nav .side-nav-link span {
  vertical-align: middle;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
